<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="wcfServices" type="WcfServiceCommon.WcfServiceConfigurationSection, WcfServiceCommon"/>
	</configSections>
	<appSettings/>
	<connectionStrings/>
	<wcfServices consoleMode="On">
		<services>
			<add key="test1" serviceAddressPort="localhost:8081" endpointName="Test1EndPoint" authorizedGroups="WcfServiceClients,someOtherGoup" hostType="testWCFService.NameEntityService, testWCFService" contractType="testWCFService.Interface.INameEntityService, testWCFService.Interface"/>
			<!--<add key="test2" serviceAddressPort="localhost:8082" endpointName="Test2EndPoint" authorizedGroups="WcfServiceClients,someOtherGoup" hostType="Test2Service.MyOtherService, Test2Service" contractType="Test2Common.IMyOtherService, Test2Common"/>-->
		</services>
	</wcfServices>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
